{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container-fluid ">

    <div class="row home-search-jumbotron">
        <div class="col-12 col-md-6 offset-md-3 ">
            <h1 class="logo-font f-white fs35rem">Cassandra</h1>
            <p class="fw600 f-white fs20rem">Your source for quality images.</p>
            <form id="search-form w-50" class="form-inline" role="form" method="GET" action="">
                <div class="input-group w-100">
                    <input type="text" class="form-control search-form" placeholder="Search" name="q">
                    <span class="input-group-btn">
                        <button type="submit" class="btn f-white bg-space-cadet outline-space-cadet search-btn ">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <p class="fw600 f-white fs10rem">Trending:
                <a class="fw600 f-white fs10rem" href="">People</a> ,
                <a class="fw600 f-white fs10rem" href="">Buildings</a> ,
                <a class="fw600 f-white fs10rem" href="">Food</a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="product-container col-10 offset-1">
            <div class="card-columns">
                {% for product in products %}
                <div class="card p-3">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>









    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>




</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}