<header class="pt-3">
    <div class="header_main">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="col-lg-2 col-sm-3 col-3 order-1">
                    <div class="logo_container">
                        <div class="logo"><a href="{% url 'home' %}"><img src="{{ MEDIA_URL }}cassandra-logo-nav-black.png" id="img-nav-logo" alt="Cassandra Logo" class="img-nav-logo"></a></div>
                    </div>
                </div> <!-- Search -->
                <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                    <div class="header_search">
                        <div class="header_search_content">
                            <div class="header_search_form_container">
                                <form id="search-form" class="form-inline" role="form" method="GET" action="{% url 'products' %}">
                                    <div class="input-group w-100">
                                        <input type="text" class="form-control search-form" placeholder="Search" name="q">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn f-white bg-space-cadet outline-space-cadet search-btn ">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- Account -->
                <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                    <div class="account d-flex flex-row align-items-center justify-content-end">
                        <!-- My Account -->
                        {% if request.user.is_authenticated %}
                        <div class="account_container d-flex flex-row align-items-center justify-content-end">
                            <a class="join-now-button btn rounded-0 " href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center ">
                                    <p class="my-0 f-white">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>

                            </div>
                        </div>
                        <!-- Join -->
                        {% else %}
                        <div class="account_container d-flex flex-row align-items-center justify-content-end">
                            <a class="join-now-button btn rounded-0 " href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center ">
                                    <p class="my-0 f-white">Join</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            </div>
                        </div>
                        {% endif %}
                        <!-- Cart -->
                        <div class="cart">
                            <div class="account_container d-flex flex-row align-items-center justify-content-end">
                                <a class="cart-button btn rounded-0 " href="{% url 'view_bag' %}" id="cart">
                                    <div class="text-center">
                                        <i class="fa fs20rem">&#xf07a;</i>
                                        <span class='badge badge-warning' id='lblCartCount'>
                                            {% if grand_total %}
                                            ${{ grand_total|floatformat:2}}
                                            {% else %}
                                            $0.00
                                            {% endif %}
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            {% include 'includes/nav-second.html' %}
        </nav>
    </div>
    <div id="delivery-banner" class="row text-center">
        <div class="col bg-black text-white">
            {% if profile.has_paid %}
            <a href="{% url 'membership' %}">
                <h4 class="logo-font my-1 f-white">Membership Active Until {{ profile.paid_until }}</h4>
            </a>
            {% else %}
            <a href="/products/47/">
                <h4 class="logo-font my-1 f-white">Become a member and get unlimited downloads!</h4>
            </a>
            {% endif %}
        </div>
    </div>


</header>

{% if messages %}
<div class="message-container">

</div>
{% endif %}

{% block page_header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');
</script>
{% endblock %}