{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-12 col-md-7">
            <h2 class="logo-font fw700">Categories</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="card-columns">
                {% for category in categories %}
                <div class="card p-3">
                    {% if category.image %}
                    <a href="">
                        <img class="card-img-top" src="{{ category.image.url }}" alt="{{ category.name }}">
                    </a>
                    <h2 class="logo-font small fw700">{{ category.name }}</h2>
                    {% else %}
                    <a href="">
                        <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}